:root {
  /*Cor Principal*/
  --white: hsl(0, 0%, 100%);

  /*Tons de cinza*/
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  /*Marrom*/
  --brown-800: hsl(14, 45%, 36%);

  /*Rosa*/
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /*Tipografia*/
  --font-title: 'Young Serif', serif;
  --font-body: 'Outfit', sans-serif;

  /*Larguras do layout*/
  --layout-mobile: 375px;
  --layout-desktop: 1440px;
}

@font-face {
    font-family: 'Young Serif';
    src: url('fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background: var(--white);
    font-family: var(--font-body);
    color: var(--stone-900);
    margin: 0;
}

img {
    display: block;
    width: 100%;
    padding-bottom: 3rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    color: var(--stone-600);
}

#prep-time {
    background: var(--rose-50);
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem;
}

#prep-time h2 {
    color: var(--rose-800);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

